
#trigger-upload {
    color: white;
    background-color: #029A89;
    font-size: 17px;
    padding: 7px 20px;
    background-image: none;
}

#fine-uploader-manual-trigger {
  width: 90%;
}

#fine-uploader-manual-trigger .qq-upload-button {
    margin-right: 15px;
    width: 87px;
    background: #029A89;
    padding: 0px 0px;
    height: 39px;
    font-size: x-large;
}

#fine-uploader-manual-trigger .buttons {
    width: 36%;
}

#fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
    width: 60%;
}


.qq-uploader{
  border-radius: 0px;
  min-height: 170px;
  background-color: transparent;
}
